body {
  padding: 25vh;
}
p {
  letter-spacing: 0.1rem;
  width: 25rem;
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1rem;
}
h1 {
  position: absolute;
  letter-spacing: 0.05rem;
  transform-origin: 0 0;
  transform: rotate(90deg);
}
a {
  color: black;
}
